<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.jiabaida.little_elephant" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:enabled="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.jiabaida.little_elephant.app.XXApplication" android:requestLegacyExternalStorage="true" android:requiredForAllUsers="true" android:supportsRtl="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:usesCleartextTraffic="true">
        <activity android:exported="false" android:name="com.jiabaida.little_elephant.ui.activity.ProtectTimesActivity">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <meta-data android:name="UMENG_APPKEY" android:value="5716e39867e58ec73e0024a6"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="jiabaida"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.jiabaida.little_elephant.ui.activity.MainV2Activity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.jiabaida.little_elephant.ui.activity.StartPageActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.jiabaida.little_elephant.ui.activity.ScanBleDevicesActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.CommonWebActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.jiabaida.little_elephant.ui.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.RegistActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.ForgotPwdActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.AddInfoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.UnBindDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.BluetoothInfoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.BalanceSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.BalanceSettingsOldActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.InitSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.InitSettingsOldActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.ProtectParamsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.ProtectParamsOldActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.ElectricSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.ElectricSettingsOldActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.TemperatureSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.TemperatureSettingsOldActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.CapacityVoltmeterActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.CapacityVoltmeterOldActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.SystemSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.SystemSettingsOldActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.ConnectResistanceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.FunctionSettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.FunctionSettingOldActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.VoltageCalibrationActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.BluetoothPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.SelectLineActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.jiabaida.little_elephant.ui.activity.OtaActivity" android:screenOrientation="portrait"/>
        <service android:name="com.jiabaida.little_elephant.net.service.HeartbeatService"/>
        <service android:name="com.jiabaida.little_elephant.net.service.BMSRealTimeService"/>
        <service android:name="com.jiabaida.little_elephant.net.service.DownloadIntentService"/>
        <provider android:authorities="com.jiabaida.little_elephant.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <service android:name="com.inuker.bluetooth.library.BluetoothService"/>
        <activity android:name="com.libs.qrcodecamera.activity.ActivityScanerCode" android:screenOrientation="portrait"/>
        <activity android:name="com.libs.qrcodecamera.activity.ActivityCodeToolSamples" android:screenOrientation="portrait"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>